html {
    height: 100%;
    background-color: black;
}

body {
    overflow-x: hidden;
    font-family: 'poiret one';
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    min-height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-rows: auto 1fr ;
}

/* hide all scrollbars */
*::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

#nav-container {
    font-weight: bold;
    width: 100%;
    max-height: 100px;
    height: 100%;
    position: fixed;
    z-index: 2;
    transition: .4s;
}

#nav-container a:hover {
    color: rgba(253, 52, 131, .9);
}


nav {
    max-width: 1268px;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr ; 
    grid-template-areas: 'left right';
    margin: 0 auto;
}

.navbar-column {
    margin: auto 0;
}

#left-menu {
    padding: 12px 6px;
}

#right-menu {
    text-align: right;
}

#burger-menu-toggle-container {
    display: none;
    transition: .4s;
    padding: 6px;
}

#burger-menu-toggle-container:hover .bar {
    background-color: rgba(253, 52, 131, .9);
}

#burger-menu-toggle {
    margin: 0;
    display: block;
    position: absolute;
    width: 35px;
    height: 27px;
    opacity: 0;
    outline: none;
    -webkit-appearance: none;
    border: none;
    z-index: 100;
    cursor: pointer;
}

#bar1, #bar2, #bar3 {
    width: 32px;
    height: 4px;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 6px;
    margin: 6px 0;
    transition: 0.5s;
}

#burger-menu-toggle:checked ~ #bar1 {
    -webkit-transform: rotate(45deg) translate(-6px, 4px) ;
    transform: rotate(45deg) translate(6px, 6px) ;
}

#burger-menu-toggle:checked ~ #bar2 {opacity: 0;}

#burger-menu-toggle:checked ~ #bar3 {
    -webkit-transform: rotate(-45deg) translate(-8px, -8px) ;
    transform: rotate(-45deg) translate(8px, -8px) ;
}

#burger-menu-toggle:checked ~ #burger-menu {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

#burger-menu {
    transition: .4s;
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 80px;
    width: 100%; 
    max-height: 0;
    overflow: hidden;
}


#burger-menu-body {
    border-radius: 2px;
    display: grid;
    position: relative;
    margin: auto;
    padding: 4px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#burger-menu-links {
    display: grid;
    grid-template-rows: 1fr;
}

.burger-menu-link {
    padding: 5px;
}

@media screen and (max-width: 960px) {
    #right-menu {
        display: none;
    }
    #burger-menu-toggle-container {
        display: block;
        grid-area: left;
    }
}


.nav-item {
    padding: 2px;
}




