{% extends 'layout.html' %}
{% block title %}64404176{% endblock %}
{% block main %}
<div class="unique-content">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
                    sliders.setCSRFToken('{{ csrf_token() }}');
                });
    </script>
    <div id="motorSliderForm">
        <input name="leftMotorSlider" type="range" min="0" max="100" step="1" oninput="sliders.updateMotorValue('left', this.value)" value={{leftMotor}}>
        <span id="leftMotorValBox"></span>
        <br>
        <input name="rightMotorSlider" type="range" min="0" max="100" step="1" oninput="sliders.updateMotorValue('right', this.value)" value={{rightMotor}}>
        <span id="rightMotorValBox"></span>
    </div>
</div>
{% endblock %}
