<header>
    <div id="nav-container" class="nav-transparent">
        <nav>
            <div class="navbar-column" id="left-menu">
                <a class="nav-item" href="/">COMPANY</a>
            </div>
            <div class="navbar-column" id="right-menu">
                <a class="nav-item" href="#">Services</a>
                <a class="nav-item" href="#">Contact us</a>
                <a class="nav-item" href="#">Privacy</a>
            </div>
            <div class="navbar-column" id="burger-menu-toggle-container">
                <input type="checkbox" id="burger-menu-toggle">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
                <div id="burger-menu">
                    <div id="burger-menu-content">
                        <div id="burger-menu-header">
                        </div>
                        <div id="burger-menu-body">
                            <div id="burger-menu-links">
                                <div class="burger-menu-link">
                                    <a href="#">
                                </div>
                                <div class="burger-menu-link">
                                    <a class="nav-item" href="#">Services</a>
                                </div>
                                <div class="burger-menu-link">
                                    <a class="nav-item" href="#">Contact us</a>
                                </div>
                                <div class="burger-menu-link">
                                    <a class="nav-item" href="#">Privacy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="burger-menu-footer">
                    </div>
                </div>
            </div>
        </nav>
</header>

